/* Node styles */
.node {
  display: none;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 30px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.node.active {
  display: block;
}
