/* Body */

body {
    margin-left: 10px;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/* Header */

header {
    background-color: #f5f5f5;
}


/* Navigation */

nav {
    margin: 0 auto;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: blue;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    color: red;
    background-color: white;
    ;
}


/* Main content */

main {
    margin: 0 auto;
    padding: 20px 0;
}


/* Headings */

h1,
h2 {
    font-weight: bold;
}

h1 {
    margin-left: 10px;
    font-size: 24px;
}

h2 {
    margin-left 10px;
    font-size: 20px;
}


/* Links */

a {
    color: blue;
}

a:visited {
    color: black;
}

a:hover {
    color: red;
}


/* Footer */

footer {
    background-color: #f5f5f5;
    text-align: center;
}


/* Responsive design */

@media (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
    }
}